# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [7]:
print("1st assignment", 14, 12==4 , 2.5)

1st assignment 14 False 2.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [8]:
print("1st assignment", 14, 12==4, 2.5, sep = '-')

1st assignment-14-False-2.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [9]:
print("1st assignment", end = ' ')
print(14, end = ' ')
print(1==1, end = ' ')
print(3.14, end = ' ')

1st assignment 14 True 3.14

4) Can a python print function take no value to print???

In [10]:
#yes
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [11]:
fname = "Mr.Ahmed"
age = 30
prof = "lawyer"
qual = "Bachelors in Law"
passing_yr = 2005
working_since =  2015
company = "Himalya Associates"
Height_in_ft = 5.10
weight_in_g = 70600
salary_in_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [12]:
from datetime import date
current_yr = date.today().year
years_after_passout = current_yr - passing_yr
print(years_after_passout)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [13]:
experience = current_yr - working_since
print (experience)

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [14]:
salary_in_dlr = salary_in_pkr / 212
print("Income in dollars is ", salary_in_dlr, "$")

Income in dollars is  943.3962264150944 $

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [15]:
type(salary_in_dlr)
salary_in_dlr = int(salary_in_dlr)
print(salary_in_dlr)

943

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [16]:
weight_in_kg = weight_in_g / 1000
weight_in_kg = int(weight_in_kg)
print(weight_in_kg)

70

11) print the year of birth of Mr. Ahmed.

In [17]:
yr_of_birth = current_yr - age
print(yr_of_birth)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [18]:
100 % 6 == 0

False

In [1]:
print("Hello world i am working on git")

Hello world i am working on git

In [ ]:
print("Hello world i am working on git again")